@import "tailwindcss";

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;

  /* Primitive Colors */
  --color-white: #FFFFFF;
  --color-gray-200: #CDCDCD;
  --color-gray-600: #727272;
  --color-gray-900: #121212;

  /* Semantic Colors */
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-600);
  --color-border-default: var(--color-gray-900);
  --color-border-subtle: var(--color-gray-200);

  /* Font Families */
  --font-brand: "Rascal";
  --font-base: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-code: "D2Coding";
}

@utility text-brand-logo {
  font-family: var(--font-brand);
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
}

@utility text-display-xl {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

@utility text-display-lg {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

@utility text-heading-lg {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@utility text-heading-md {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@utility text-heading-sm {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@utility text-body-lg {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

@utility text-body-md {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

@utility text-body-sm {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}